<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"><img src="../../../assets/images/logo+tag-white.png" class="icon-brand logo" alt="">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto" style="display: flex; flex-direction: row;">
            <li class="nav-item nav-link cursor mx-auto" routerLinkActive="active" routerLink="home"><i class="fa fa-home fa-2x"></i></li>
            <li class="nav-item nav-link cursor mx-auto" routerLinkActive="active" routerLink="info"><i class="fa fa-user-o fa-2x"></i></li>
            <li class="nav-item nav-link cursor mx-auto" routerLinkActive="active" (click)="logOut()"><i class="fa fa-power-off fa-2x"></i></li>
        </ul>
    </div>
</nav>