<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"><img src="../../../assets/images/logo+tag-white.png" class="icon-brand logo" alt="">   
       
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
        <ul class="navbar-nav ml-auto">
              
          <li class="nav-item nav-link cursor mx-auto" routerLinkActive="active" routerLink="home"><i class="fa fa-home fa-2x"></i></li>
          <li class="nav-item nav-link cursor mx-auto" routerLinkActive="active" routerLink="movements"><i class="fa fa-tasks fa-2x"></i></li>
          <li class="nav-item dropdown cursor mx-auto" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-gear fa-2x"></i>
            </a>
            <div class="dropdown-menu col-md-12" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="info">Preferencias <i class="fa fa-cogs"></i></a>
              <a class="dropdown-item" (click)="logOut()">Cerrar sesión <i class="fa fa-power-off"></i></a>
              
            </div>
          </li>
        </ul>


        
    
      
    </div>
  </nav>