
<div class="row card-body mt-2">
    <div class="col-4">
        <div class="card">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white">2,064</h1>
                <h6 class="text-white">Total ingresos</h6>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white">2,064</h1>
                <h6 class="text-white">Total gastos</h6>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="box bg-warning text-center">
                <h1 class="font-light text-white">2,064</h1>
                <h6 class="text-white">Total disponible</h6>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-4"></div>
    <div class="col-4 d-flex">
        <span class="fa fa-plus-circle fa-3x mb-1"></span>
        <h3 class="ml-2 mt-2">Nuevo movimiento</h3>
    </div>
</div>


