<app-loading *ngIf="loading" class="animated fadeIn"></app-loading>
<div class="mx-auto col-12 col-sm-10 col-md-10 col-xl-7 mb-3 animated fadeIn">

    <div *ngIf="!loading">
        <select (change)="changeMonth($event.target.value)" class="form-control btn-muted">

            <option *ngFor="let month of months; let i = index" [selected]="todayMonth == i" value="{{i}}">{{ month }}
            </option>
        </select>
        <div *ngIf="changedMonth" class="container animated fadeIn mt-5">
            <app-loading></app-loading>
        </div>
    </div>

    <div *ngIf="!loading && !data" class="alert alert-info text-center animated fadeIn mt-4">
        <h1>
            No hay movimientos aún...
        </h1>
    </div>
</div>


<div *ngIf="!loading && data" class="mx-auto col-12 col-sm-10 col-md-10 col-xl-7 animated fadeIn">

    <div>
        <ul class="list-group">
            <li *ngFor="let movement of movements" class="list-group-item">
                <div *ngIf="movement.type === 'ingreso'" class="row p-1">
                    <i class="fa fa-share text-success ml-1"></i>

                    <div class="col-4 col-sm-4 col-md-4 text-center">
                        <h5 class="text-secondary">
                            {{ movement.category }}
                        </h5>
                    </div>
                    <div class="col col-sm-3 col-md-4 text-right">
                        <span class="text-muted" style="font-size: 10px;">{{symbol}}</span>
                        <span style="font-size: 17px;">
                            {{movement.amount}}
                        </span>
                    </div>

                    <div class="col col-sm-4 col-md-3 text-right" style="font-size: 20px;">
                        <i class="fa fa-edit mr-3 cursor" (click)="openModal(movement)" data-toggle="modal" data-target="#exampleModal"></i>
                        <i class="fa fa-trash cursor" (click)="deleteMovement(movement)"></i>
                    </div>

                </div>

                <!-- ++++++++++++++++++++++++++++++++++++++++++++ -->

                <div *ngIf="movement.type === 'gasto'" class="row p-1">
                    <i class="fa fa-reply text-danger ml-1"></i>

                    <div class="col-4 col-sm-4 col-md-4 text-center">
                        <h5 class="text-secondary">
                            {{ movement.category }}
                        </h5>
                    </div>
                    <div class="col col-sm-3 col-md-4 text-right">
                        <span class="text-muted" style="font-size: 13px;">{{symbol}}</span>
                        <span style="font-size: 18px;">
                            {{movement.amount}}
                        </span>
                    </div>
                    <div class="col col-sm-4 col-md-3 text-right" style="font-size: 20px;">
                        <i class="fa fa-edit mr-3 cursor" (click)="openModal(movement)" data-toggle="modal" data-target="#exampleModal"></i>
                        <i class="fa fa-trash cursor" (click)="deleteMovement(movement)"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div *ngIf="!loading && newMovButton" class="text-center my-3 animated fadeIn">
    <a routerLink="/new" class="text-secondary">
        <span class="fa fa-plus-circle fa-4x mb-1 cursor"></span>
    </a>
</div>

<div class="row container mx-auto">

    <div class="card col-12 col-sm-4 mx-auto my-3">
        <div class="card-body">
            <div class="d-block">
                <div class="stats">
                    <h3 class="text-success text-center">Ingresos</h3>
                    <h4 class="mx-auto text-center"><span>{{symbol}}</span> {{ totalEarnings }}
                    </h4>
                </div>

            </div>
        </div>
    </div>
    <div class="card col-12 col-sm-4 mx-auto my-3">
        <div class="card-body">
            <div class="d-block">
                <div class="stats">
                    <h3 class="text-danger text-center">Gastos</h3>
                    <h4 class="mx-auto text-center"><span>{{symbol}}</span> {{ totalExpenses }}
                    </h4>
                </div>

            </div>
        </div>
    </div>

</div>





<div *ngIf="!loading && data && !changedMonth" class="card bg-{{balanceClass}} text-white col-12 col-sm-5 container mx-auto animated fadeIn">
    <div>

        <div class="card-body">
            <h3 class="text-white text-center">Balance</h3>
            <div class="d-block">
                <div class="stats">
                    <h1 class="mx-auto text-white text-center">{{ symbol }} {{ balance }}</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade animated fadeIn" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar movimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editMovement" class="form-material m-t-40">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group m-b-40">
                                <label for="input6">Tipo de movimiento</label>
                                <select formControlName="type" class="form-control p-0" id="input68">
                                    <option></option>
                                    <option value="ingreso">Ingreso</option>
                                    <option value="gasto">Gasto</option>
                                </select><span class="bar"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-b-40">
                                <label for="input8">Monto</label>
                                <input formControlName="amount" type="number" class="form-control" value="selectedMovement.amount" id="input12">
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group m-b-40">
                                <label for="input9">Categoria</label>
                                <select formControlName="category" class="form-control p-0" id="input6">
                                    <option [selected]="selectedMovement.category" *ngFor="let category of categories"
                                        [value]="category">{{category}}</option>
                                    <option value="otra">Otra</option>
                                </select>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div *ngIf="editMovement.value.category === 'otra'" class="col-md-6">
                            <div class="form-group m-b-40">
                                <label for="input1">Nueva categoría</label>
                                <input [(ngModel)]="category2" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="input1">
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="updateMovement()" data-dismiss="modal" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </div>
</div>