<div class="row">
    <div class="mx-auto">

        <div class="text-right mb-4">
            <a routerLink="/new" class="btn btn-primary text-white">
                <i class="fa fa-plus"></i>
                Nuevo movimiento
            </a>
        </div>

        <div class="card">
            <div class="card-body">
       
               <table class="table">
                   <thead>
                       <tr>
       
                           <th scope="col">Fecha</th>
                           <th scope="col">Categoria</th>
                           <th scope="col">Ingresos</th>
                           <th scope="col">Gastos</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td>01/01</td>
                           <td>Alquiler</td>
                           <td></td>
                           <td>15000</td>
                       </tr>
                       <tr>
                           <td>02/01/2021 13:55</td>
                           <td>Pago</td>
                           <td>20000</td>
                           <td></td>
                       </tr>
       
       
                   </tbody>
       
                   <thead class="thead-dark">
                       <tr>
       
                           <th scope="col">Total</th>
                           <th scope="col"></th>
                           <th scope="col">20000</th>
                           <th scope="col">15000</th>
                       </tr>
                   </thead>
                   
       
               </table>
           </div>
       
       
       </div>
    </div>
</div>



<div class="card bg-info text-white mx-auto col-sm-4">
    <div class="card-body">
        <div class="d-block">
            <div class="stats">
                <h1 class="mx-auto text-white text-center">5000</h1>
                <h4 class="text-white text-center">Balance</h4>
            </div>
            
        </div>
    </div>
</div>